body {
    background-image: url('../images/backgroundImage.jpg');
    background-position: center center;
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body, .d-block {
    background-color: #000957;
}

.card-title, .d-block {
   color: #EBE645;
}

#btnLogin {
    color: #000957;
    background-color: #EBE645;
    border-color: whitesmoke;
}

.d-block {
    border-radius: 2%;
}

