{% extends "base.html.twig" %}

{% block stylesheets %}
     {{ encore_entry_link_tags('app') }}
        {{ parent()}}
        <link rel="stylesheet" href="{{ asset('style/loginPage.css')}}">
{% endblock %}

{% block body %}

    {% if app.user %}

       
    {% else %}
        
        <div class="d-flex centered-element">
            <div class="card d-flex justify-content-center" style="width: 25rem">
            <img src="{{ asset('images/LogoSmall.png')}}" class="card-img-top" alt="Logo">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Bienvenue chez URUK-HAÏ</h5>
                <a href="/login" class="btn d-flex justify-content-center" id="btnLogin">Se connecter</a>
            </div>
            </div>
        </div>

    {% endif %}
</div>


{% endblock %}