{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex">
    {{ form_start(franchise_form) }}
    {{ form_rest(franchise_form) }}
        <input class="btn btn-primary" type="submit" value="Valider">
    </div>
{% endblock %}