{% extends "base.html.twig" %}

{% block body %}

   <div class="container">
        <h1>Franchise : {{ franchise.name }} </h1>
        <a  class="btn btn-primary mt-3" href="/salle/new"><i class="fa-solid fa-plus"></i> Salle</a>
        <h6>Liste des salles :</h6>
        <ul>
            {% for salle in salles %}
            <li> {{ salle.name }} </li>
            {% endfor %}
        </ul>

        <div class="card">
            <div class="card-header">
                Permissions globales de la franchise
            </div>
            <ul class="list-group list-group-flush">
                {% for permission in permissions %}
                    <li class="list-group-item">{{ permission.name }}</li>
                {% endfor %}
            </ul>
        </div>


    </div>
    
{% endblock %}