{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Franchise : {{ franchise.name }} </h1>
        <h6>Liste des salles :</h6>
        <ul>
            {% for salle in salles %}
            <li> {{ salle.name }} </li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}